body {
  --body-bg: #fff;
  --text-color: #222;
  --primary-color: #0070f3;
  background: var(--body-bg);
  color: var(--text-color);
  font-family: Inter, Helvetica, Arial, Roboto, sans-serif;
  transition: all 0.2s ease-in-out;
}

p {
  line-height: 1.8;
  font-weight: 300;
  font-size: 15px;
}

p a {
  color: var(--primary-color) !important;
}

p {
  font-weight: 400;
}

blockquote {
  margin: 0;
  padding: 20px 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  opacity: 0.85;
  width: 85%;
}
