.scrollingContainer {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  cursor: grab;
}
.scrollingContainer > div > div > * {
  margin: 20px;
}
.scrollingContainer > div > div > *:last-child {
  margin-right: 60px;
}

.cardScroller {
  margin: 0 -20px;
  opacity: 0;
  animation: fadeIn 0.5s 0.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
