.experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Overview Items Items"
    "Overview Items Items"
    "Overview Items Items";
}
.overview {
  grid-area: Overview;
  .overviewText {
    position: sticky;
    top: 20px;
  }
}
.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
  grid-area: Items;
}
