.social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social ul li a {
  padding: 0 5px;
  opacity: 0.75;
  transition: 0.25s ease;
  text-decoration: none;
}
.social ul li a:hover {
  opacity: 1;
}
