.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > a {
  color: var(--text-color, #222);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: none;
}
.header > a:hover > figure {
  transform: scale(1.05);
}
.header > a:active > figure {
  transform: scale(0.95);
}
