.footer {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}
.footer > a {
  color: var(--text-color, #222);
  text-decoration: none;
}
