.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 90%;
    display: flex;
    &.user {
        align-self: flex-end;
        background: var(--message-background);
    }
    p {
        margin: 0;
        color: var(--contrast);
    }
}
